{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить пользователя "{{object.email}}"?</p>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a class="btn btn-warning" href="{% url 'users:users_list'%}">Отмена</a>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}